rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
  
  
  	function isAuthenticated() {
      return request.auth != null
    }
		function isUserAuthenticated(userId) { 
      return isAuthenticated() && request.auth.uid == userId;
    }
    
    match /users/{userID} {
			allow read, write: if isUserAuthenticated(userID);
      
      match /goals/{goalID}{
      	 allow read, write: if isUserAuthenticated(userID);

         match /tasks/{taskId}{
           allow read, write: if isUserAuthenticated(userID);

           match /hurdles/{hurdleId}{
             allow read, write: if isUserAuthenticated(userID);
           }
         }
      }
    }
  }
}