$positive: #50c38f; // main theme
$negative: #d44343fb;
$sub_theme: #43b5c4; // sub theme
$text_right: #4c4c4c;
$text_dark: #f1f1f1;
$input_border: #e1e3e8;

#app {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

body {
  background: #f4f7f8;
  font-size: 1em;
  color: $text_right;
  margin: 0;
}

/* heading */
.goal_title {
  color: $positive;
}
.task_title {
  padding-left: 1em;
  text-indent: -1em;
  margin: 0em 9% 1em 0em;
}

/* input */
.input_text {
  color: #4c4c4c;
  width: 80%;
  padding: 0.5em;
  font-size: 1em;
  border: solid 2px $input_border;
  border-radius: 4px;
  margin: 0em 0em 0em 2em;
  &:focus {
    border: solid 2px $positive;
    transition: 0.2s;
  }
}

.input_number {
  padding: 0.5em;
  font-size: 1em;
  border: solid 2px $input_border;
  border-radius: 4px;
  margin: 0em 0em 0em 2em;
  &:focus {
    border: solid 2px $positive;
    transition: 0.2s;
  }
}

.input_text_url {
  width: 80%;
  height: 6px;
  position: relative;
  top: -10px;
  padding: 0.5em;
  background: #e1e3e8;
  font-size: 1em;
  color: #4c4c4c;
  border: solid 2px #e1e3e8;
  border-radius: 4px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-top: 0;
  &:focus {
    border: solid 2px #50c38f;
    transition: 0.2s;
  }
}

.input_radio {
  height: 25px;
  width: 25px;
  cursor: pointer;
  margin-right: 10px;
  vertical-align: -7px;
  margin: 1em 1em 1em 2em;
  &:focus {
    border: solid 2px $positive;
    transition: 0.2s;
  }
}

/* button icon */
.button_positive {
  border: none;
  background: none;
  color: $text_right;
  &:focus {
    color: $positive;
    transition: 0.2s;
  }
  &:hover {
    color: $positive;
    transiion: 0.2s;
  }
}
.button_negative {
  border: none;
  background: none;
  color: $text_right;
  &:focus {
    color: $negative;
    transition: 0.2s;
  }
  &:hover {
    color: $negative;
    transiion: 0.2s;
  }
}

/* button register */
.button_register {
  margin: 10px 20px;
  padding: 0.5em 3em;
  border-radius: 20px;
  border: 2px solid #4c4c4c5f;
  font-weight: bold;
  color: #4c4c4c5f;
  background: #50c38f91;
  &:focus {
    color: #f2f2f2;
    background: $positive;
    transition: 0.2s;
  }
  &:hover {
    color: #f2f2f2;
    background: $positive;
    transition: 0.2s;
  }
}

.button_delete {
  margin: 10px 20px;
  padding: 0.5em 3em;
  border-radius: 20px;
  border: 2px solid #4c4c4c5f;
  font-weight: bold;
  color: #4c4c4c5f;
  background: #d4434382;
  &:focus {
    color: $text_dark;
    background: $negative;
    transition: 0.2s;
  }
  &:hover {
    color: $text_dark;
    background: $negative;
    transition: 0.2s;
  }
}

.button_cancel {
  margin: 10px 20px;
  padding: 0.5em 3em;
  border-radius: 20px;
  border: 2px solid #4c4c4c5f;
  font-weight: bold;
  color: #4c4c4c5f;
  background: $text_dark;
  &:focus {
    color: $text_right;
    border: 2px solid $text_right;
    transition: 0.2s;
  }
  &:hover {
    color: $text_right;
    border: 2px solid $text_right;
    transition: 0.2s;
  }
}

.icon_height_fix {
  display: inline-flex;
  vertical-align: middle;
}

// Modal
#overlay {
  z-index: 1;
  position: fixed;
  overflow-x: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

#content {
  z-index: 2;
  position: relative;
  width: 50%;
  padding-top: 5em;
  padding-bottom: 5em;
  text-align: center;
  background-color: #eaeded;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

#content > img {
  width: 95%;
}

// items
.item_hover {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #4c4c4c;
  display: block;

  width: 100%;
  padding: 7px 20px 0.1px 0px;
  border: none;
  background: none;
  font-size: 1em;
  text-align: left;
  &:hover {
    transition: 0.2s;
    background: #e5e8e9;
    border-radius: 10px;
  }
  &:focus {
    transition: 0.2s;
    background: #e5e8e9;
    border-radius: 10px;
  }
}

.item_hover ul.icon {
  list-style: none;
  float: right;
}
.item_hover ul.icon li {
  display: inline;
  margin-left: 5px;
}
.item_hover ul.icon li {
  opacity: 0;
}
.item_hover:focus ul.icon li {
  opacity: 0.5;
}
.item_hover:hover ul.icon li {
  opacity: 0.5;
}
.item_hover ul.icon li:focus {
  opacity: 1;
}
.item_hover ul.icon li:hover {
  opacity: 1;
}

.hover_icons {
  vertical-align: 5px;
  &:hover {
    opacity: 1;
  }
  &:focus {
    opacity: 1;
  }
}
